.form {
  margin:0 auto;
  display:block;
  width: 40%;
  
  
}

.fundo {
  background: #001529 !important;
  padding: 100px;
  padding-bottom: 200px;
  border-radius: 40px !important;
  
}

.title {
  text-align: center;
  color: white;
}